<form id="calcForm" name="calcForm" #form="ngForm" (submit)="calculate()">
  <div class="row">


    <div class="form-group">
      <input type="number" name="firstOperand" required [(ngModel)]="firstOperand" #firstoperand="ngModel" />
      <div *ngIf="firstoperand.invalid && (firstoperand.dirty || firstoperand.touched)" class="alert alert-danger">
        <div *ngIf="firstoperand.errors.required">
          First operand is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <select type="number" name="operation" required [(ngModel)]="selectedOperation" #operation="ngModel">
        <option *ngFor="let operation of operations" [value]="operation.code">{{operation.name}}</option>
      </select>
      <div *ngIf="operation.invalid && (operation.dirty || operation.touched)" class="alert alert-danger">
        <div *ngIf="operation.errors.required">
          Operation is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="number" name="secondOperand" required [(ngModel)]="secondOperand" #secondoperand="ngModel" />
      <div *ngIf="secondoperand.invalid && (secondoperand.dirty || secondoperand.touched)" class="alert alert-danger">
        <div *ngIf="secondoperand.errors.required">
          Second operand is required.
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="!form.valid">Calculate!</button>
  </div>
  

</form>
<hr />

<div *ngIf="errorMessage == null; else elseBlock">Result: {{result}}</div>
<ng-template #elseBlock>
    <div class="alert alert-danger">{{errorMessage}}</div>
</ng-template>

