<nav>
  <nav>
    <a routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Online Calculator</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
  </nav>
</nav>